In [1]:
import pandas as pd

s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [3]:
s = pd.Series(['Wes Mckinney', 'Creator of Pandas'], index = ['Person', 'Who'])

print(s)

Person         Wes Mckinney
Who       Creator of Pandas
dtype: object

In [7]:
#creating a dataframe

scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Ocupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]})
    
print(scientists)

                Name     Ocupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [9]:
#creating a dataframe

scientists = pd.DataFrame(
    data = {
    'Ocupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Ocupation', 'Bord', 'Died', 'Age'])
    
print(scientists)

                      Ocupation Bord        Died  Age
Rosaline Franklin       Chemist  NaN  1958-04-16   37
William Gosset     Statistician  NaN  1937-10-16   61

In [10]:
from collections import OrderedDict

In [11]:
scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Ocupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
]))

In [12]:
print(scientists)

                Name     Ocupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [17]:
#creating a dataframe

scientists = pd.DataFrame(
    data = {
    'Ocupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Ocupation', 'Born', 'Died', 'Age'])
    
print(scientists)

                      Ocupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [18]:
first_row = scientists.loc['William Gosset']

In [19]:
print(first_row)

Ocupation    Statistician
Born           1876-06-13
Died           1937-10-16
Age                    61
Name: William Gosset, dtype: object

In [25]:
print(first_row.index)

Index(['Ocupation', 'Born', 'Died', 'Age'], dtype='object')

In [21]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [23]:
print(first_row.keys())

Index(['Ocupation', 'Born', 'Died', 'Age'], dtype='object')

In [27]:
print(first_row.index[0])

Ocupation

In [30]:
print(first_row.keys()[0])

Ocupation

In [33]:
ages = scientists['Age']

print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64